# APPLICATION SETTINGS
DEBUG=False
APP_TITLE=Test Assignment
APP_DESCRIPTION=Test assignment for "Soft Media Group"
API_PREFIX=/api/v1

# POSTGRESQL AUTH DATA
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
DB_HOST=db
DB_PORT=5432 

# REDIS SETTINGS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_TTL=15 # IN MINUTES